body {
    background-image: url("images/sunset.jpg");
    background-position: center;
    margin: 0px;
}

.wrapper{
    width:1200px;
    margin: auto;
    border: none;
    background-color: gray;
    display:grid;
    border: outset black 1px;
    grid-template-rows: auto 1fr 1fr auto ;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 0px;
    height: 100%;

}


nav {
    background-color: black;
    color: #ffffff;

    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 4;
}
footer {
    background-color: black;
    color: #ffffff;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 4;
}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    position: center;

}
nav li{
    display: inline;

}
nav li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;

}
nav li a:hover {
    display: inline-block;
    background-color: orange;

}
a {
    color: #de6581;
    text-decoration: none;}

iframe{

    background-color: white;
    width: 300px;
    border: 10px solid hotpink;
    margin-top:50px;
    margin-bottom:50px;
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;


}
img.lion_king {
    border: solid black 1px;
    border-radius: 25px;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
    margin-left: 30px;
}

.paragraph{
    grid-row-start: 3;
    grid-column-start: 3;

    grid-row-end: 4;
    grid-column-end: 4;
    margin-top: 0 ;
    margin-bottom: 0 ;

}
.p1{
    background-color: hotpink;
    padding: 10px;
    font-family: Arial;
    margin-top: 0 ;
    margin-bottom: 0 ;
    margin-right: 30px;

}
.p2{
    background-color: pink;
    font-family: "Courier New";
    padding: 15px;
    margin-top: 0 ;
    margin-bottom: 0 ;
    margin-right: 30px;

}
.p3{
    background-color: hotpink;
    font-family: Cosriva;
    padding: 20px;
    margin-top: 0 ;
    margin-bottom: 0 ;
    margin-right: 30px;

}
.button1{
    background-color: orange;
    margin-top: 30px;
    margin-bottom: 0;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

textarea{

    height: 150px;
    background-color: white;
    font-size: 16px;
    color: black;
    text-align: left;

}
search {



}